.carousel {
  min-height: fit-content;
  border-top: 1px solid #FAFAFA;
  padding: 20px;
  width: 100%;
}

.MuiChartsAxis-bottom {
  color: #FAFAFA !important;
}

.slick-dots li.slick-active button:before {
  // your code here
  color: #FAFAFA !important;
}

.innerBox {
  display: flex !important;
}