.fileUploadDialog {
  .dialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #121c24;
  }

  .dropArea {
    width: 320px;
    height: 300px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
    transition: border-color 0.3s ease;
    position: relative;
  }

  .dropArea:hover {
    border-color: #1976d2;
  }

  .fileSelected {
    background-color: #1a2b38;
    border: 2px solid #1976d2;
  }

  .uploadLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .uploadText {
    color: #666;
    font-weight: bold;
  }

  .fileDetails {
    color: #fafafa;
    text-align: center;
  }

  .buttonContainer {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}

.box {
  width: 300px !important;
  height: 300px !important;
  font-size: 1.25rem;
  background-color: #c8dadf;

  position: relative;
  align-self: center;
  /* padding: 100px 20px; */
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
  background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out,
  background-color 0.15s linear;
}

.box_input {
  color: #FAFAFA !important;
  padding: 50px 20px;
}

.box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

svg {
  fill: currentColor;
  vertical-align: middle;
  pointer-events: none;
}

.box__file {
  //background-color: hotpink;
  opacity: 0;
  position: absolute;
}

label {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  gap: 4px;
  color: white !important;
  align-items: center;
  justify-content: center;
}

.drop_zone {
  font-weight: 2100;
}

.dragging {
  background-color: transparent;
}

.file_preview_font {
  text-align: center;
  width: 100%;
  height: 20px;
  color: white !important;
  overflow: hidden;
  font-size: small;
}
