.MSNCard {
  display: flex;
  flex-wrap: wrap;
  //background-color: pink !important;
  padding: 12px 5px;
  background-color: #121c24 !important;
}

.title {
  padding: 5px 5px;
  flex-basis: 45%;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButtons {
  flex-basis: 45%;
  padding: 5px 5px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.FileUploadButton {
  background-color: #FAFAFA !important;
  min-width: 30px !important;
  width: 30px !important;
  max-height: 30px;
  padding: 0 !important;
}

.summary {
  padding: 15px 15px;
  width: 100%;
  //height: 100%;
  display: flex;
  justify-content: center;
  //align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  text-align: center;

  * {
    flex-basis: 45%
  }
}

.info {
  //background-color: white;

}

.dValue {
  color: #FAFAFA;
}

.label {
  color: #7a7d85;
  font-weight: bold;
}
