.investmentsParentContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  background-color: #121c24 !important;
}

@media screen and (max-width: 450px) {
  .investmentsParentContainer {
    flex-direction: column;
  }
}

.dashboard {
  min-width: 50%;
  flex-basis: 50%;
  background-color: #121c24 !important;
  border-right: 1px solid #FAFAFA !important;
}


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px 5px 10px;
  gap: 10px;
  width: 50%;
}

.stockContainer {
  background-color: #121c24 !important;
  height: 200px;
  width: 300px;
  border: 1px solid white !important;
}

.mfContainer {
  background-color: #121c24 !important;
  height: 200px;
  width: 300px;
  border: 1px solid white !important;
}

.npsContainer {
  background-color: #121c24 !important;
  height: 200px;
  width: 300px;
  border: 1px solid white !important;
}