.summaryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #121c24;
  padding: 1rem;
  border-radius: 8px;

}

.summaryBox {
  display: flex;
  width: fit-content;
  flex-basis: 50%;
  justify-content: space-evenly;
  @media (max-width: 1000px) {
    width: 100%;
    justify-content: space-evenly;
    flex-basis: 100%;
  }
}

.credit, .debit, .net {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media (max-width: 768px) {
    flex: 1 1 100%;
    text-align: center;
  }
}

.net {
  padding-right: 12px;
  border-right: 0.1px #fafafa solid;

  @media (max-width: 768px) {
    padding-right: 0;
    border-right: none;
  }
}

.actionButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-basis: 40%;
  @media (max-width: 1000px) {
    justify-content: space-evenly;
    flex-basis: 100%;
  }
}

.subtitle {
  color: #fafafa;
  font-weight: 600;
}

.creditAmount {
  color: green;
  font-weight: 700;
}

.debitAmount {
  color: red;
  font-weight: 700;
}

.netAmount {
  font-weight: 700;
}

.netPositive {
  color: green;
}

.netNegative {
  color: red;
}

.reconnectButton {
  margin-top: 8px;
  flex-basis: auto;
  display: flex;
  justify-content: center !important;
  color: #fafafa !important;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  max-width: fit-content;
}

.reconnectButton:hover {
  background-color: #607afb !important;
}

.FileUploadButton {
  background-color: #fafafa !important;
  min-width: 30px !important;
  width: 30px !important;
  max-height: 30px;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .FileUploadButton {
    width: auto !important;
  }
}
