.icon {
  font-size: 24px !important;
  @media (max-width: 768px) {
    font-size: 20px !important;
  }
  @media (max-width: 520px) {
    font-size: 18px !important;
  }
}

.linkContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.links {
  font-size: 15px !important;
  white-space: nowrap;
  min-width: fit-content;
  
  @media (max-width: 960px) {
    font-size: 14px !important;
    margin: 0 4px !important;
  }
  
  @media (max-width: 768px) {
    display: none !important;
  }
}