.card {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  //transition: transform 0.2s ease-in-out;
  background-color: #121C24 !important;
  padding: 16px 8px;
  border-top: 0.1px solid #E5E8EB;

  &:hover {
    //transform: scale(1.02);
  }
}


.bankIcon {
  min-width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.description {
  color: #8A9EBF !important;
  min-width: 70%;
  text-align: left;

  &__text {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__date {
    color: #FAFAFA;
    font-size: 0.85rem;
    margin-top: 2px;
  }
}

.amount {
  min-width: 20%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;

  &__value {
    width: 80%;
    border-radius: 2rem;
    background-color: #29384D;
    color: #FAFAFA;
    text-align: center;
    font-weight: 600;

    &.positive {
      //color: green;
    }

    &.negative {
      //color: red;
    }
  }

  &__tag {
    color: #777;
    background-color: pink;
    font-size: 0.75rem;
  }
}
